@media (max-width: 1200px) and (min-width: 992px) {

}

@media (max-width: 992px) and (min-width: 767px) {
    .dropdown-menu {
        display: none;
        width: 95%;
    }
}

@media (max-width: 767px) {
    .back_links {
        margin-left: 10px;
    }

    .courses .container-fluid {
        padding: 65px 10px 60px 10px;
    }

    .courses h1 {
        font-size: 30px;
        line-height: 55px;
    }

    .course-header h2 {
        font-size: 16px;
        line-height: 19px;
    }

    .dropdown-menu {
        display: none;
        width: 95%;
    }
}
