
/*Head*/
.head_course {
    display: flex;
    align-items: center;
    position: relative;
    height: 70vh;
}

.head_course .container-fluid {
    padding: 15vh 0 10vh 40px;

}

.head_course img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.head_course h1{
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    font-weight:bold;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}
.head_course p{
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    font-weight:normal;
    font-style: normal;
}

/*Auditory*/
.auditory .container-fluid {
    padding: 100px 70px 100px 70px;
}
.auditory h1{
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.auditory .card {
    border: 1px #DEDEDE solid !important;
    margin-top: 1.1em
}

.auditory .card h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    font-style: normal;
}

.auditory .card p {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
}

.talents .container-fluid {
    background: none;
}
.talents .description-text {
    margin-bottom: 40px;
}
.skills .container-fluid {
    padding: 50px 70px 100px 70px;
}

.skills h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.skills p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;

}

.skills .skills__card__content h1{
    font-size: 18px;
    line-height: 22px;
    font-weight:bold;
    color: #F76321;
}
.skills__card__content  p{
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    font-style: normal;

}

.start_learning{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*Price*/
.price {
    background: #F4F4F4;
}

.price .container-fluid {
    padding: 50px 70px 100px 70px;
}
.price h1{
    font-size: 45px;
    line-height: 55px;
    color: #F76321;
    font-weight:bold;
    font-style: normal;
}
.price h3{
    font-size: 40px;
    line-height: 48px;
    font-weight:bold;
    font-style: normal;
}

.price p{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-style: normal;
}
.price a{
    background: #ffffff;
    color: #F76321;
}
.price a:hover{
    color: #f15e1f;
    background: #fffffa;
}
.price_card_1{
    border-right: 1px solid #050606;
}
.price_card_2{
    border-left: 1px solid #050606;
}
