.back_links {
    margin-left: 70px;
}

.back_links a {
    color: #000000;
}

.back_links a:hover {
    color: #111111;
    font-weight: 600;
}

.list {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    margin-bottom: .4rem;
}

.course__image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.play__video {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-45%);
}

.play__video__text {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%) translateY(-65%);
    font-size: 10px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 12px;
}

.list ul {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
}

.list ul .active {
    display: block;
}

.list li {
    list-style: none;
}

.list a {
    transition: all 0.4s;
    color: #050606;
    position: relative;
}

select {
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    transition: all 0.4s ease-in-out;
}

select:hover {
    cursor: pointer;
}

select option {
    border: 0;
    border-bottom: 1px #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.placeholder {
    border-bottom: 2px solid;
    cursor: pointer;
}

.placeholder:hover {
    color: #888888;
}

.courses .container-fluid {
    padding: 100px 70px 100px 70px;
}

.course-header p {
    font-size: 12px;
    line-height: 14px;
}

.course-header a {
    color: black;
}

.course-header h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.course-header h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.course-header h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    font-style: normal;

}
.dropdown-toggle {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    padding: 22px 10px 17px 20px;
    border: 2px #F2F2F2 solid;
    align-items: center;
}
.dropdown-toggle::after {
    float: right;
}
.dropdown-toggle:focus {
    box-shadow: none;
}
.dropdown-menu {
    width: 100%;
    border: none;
    display: block;
    position: static;
    padding-top: 0;
}
.dropdown-menu li {
    margin-top: 1.5px;
    border: 2px #F2F2F2 solid;
    border-radius: 3px;
}
.dropdown-item {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    padding: 22px 10px 17px 20px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #F76321;
    color: #FFFFFF;
}


.banner {
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 142px;
}

.banner a {
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    border-radius: 2px;
}

.banner a:hover {
    color: #ffffff;
}

.banner h1 {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    color: #F76321;
}

.banner h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    color: #F76321;
}

.banner p {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.card-body {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 8px;

}



.course__card__video {
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.course__card__video img {
    flex-shrink: 0;

    object-fit: cover;
}

.course__card__video iframe {
    flex-shrink: 0;

    object-fit: cover;
}

.course__card__content {
    height: 149px;

}

.card-body h1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}

.card-body p {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}
.btn-orange {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
}

.button-buy a {
    background: #FFFFFF;
    color: #F76321;
    border: 1px #F76321 solid !important;
}

.button-buy a:hover {
    color: #220202;
    text-decoration: none;
    background-color: #fafafa;
}

.load_more a {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    background: #ffffff;
    border: 1px solid #F76321;
    border-radius: 62px;
    color: #F76321;
    cursor: pointer;
}

.card-body .description p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    min-height: 65px;
    max-height: 150px;
}

.card-body .star {
    color: #FFC107;
    width: 1em;
    font-size: 12px;
}

.load_more a:hover {
    color: #F76321;
}

