/* HEADER */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #F76321;
    color: #ffffff;

}

.header_logo a {
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    font-weight: 500;
    transition: all 200ms linear;
    color: #ffffff;
}

/*.nav-link a{*/
/*    color: #ffffff;*/

/*}*/
.nav-item:hover .nav-link {
    color: #ffffff !important;
}

.nav-item.active .nav-link {
    color: #ffffff;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #ffffff;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    min-width: 1rem;
}

/*Part1*/
.start_course {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.start_course h1 {
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    font-weight: bold;
    /*padding-bottom: 30px;*/
}

.start_course h3 {
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    font-weight: normal;
    /*padding-bottom: 30px;*/
}

.start_course a {
    padding: 1.25rem 3.2rem 1.25rem 3.2rem;
}

.start_course a:hover {
    color: #FFFFFF;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-body {
    padding-top: 18vh;
    padding-bottom: 15vh;
}

.start_course .owl-item {
    min-height: 65vh;
}

.owl-dots {
    position: absolute;
    width: 100%;
    bottom: 3%;
    text-align: center;
}

.owl-carousel button.owl-dot {
    width: 11px;
    height: 11px;
    margin: 7.5px;
    border-radius: 50%;
    border: 2px #ffffff solid;
    background: #ffffff;
}

.owl-carousel button.owl-dot.active {
    background: #F76321;
}

.owl-carousel button.owl-dot:focus {
    outline: none;

}

/* Part2 */
.recommendations {
    padding-top: 30px;
}

.recommendations .container-fluid {
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-right: 0;
}

.recommendation {
    margin-top: 30px;
    padding: 0;
}

.recommendations img {
    margin: auto 10px auto 13px;
    width: 45px;
}

.recommendations h5 {
    font-size: 19px;
    line-height: 23px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
}

.recommendations p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

/* Part3 Directions */
/*.directions{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.directions .container-fluid {
    padding: 110px 70px 70px;
}

.directions h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.directions h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    /*padding-bottom: 30px;*/
}

.directions__content {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.directions__card {
    display: flex;
    color: rgba(5, 6, 6, 0.93);


    /*!*flex-direction: column;*!*/
    /*!*align-items: center;*!*/
    /*border: 1px solid #DEDEDE;*/
    /*border-radius: 5px;*/
    /*background:#ffffff;*/
}

.directions__card:hover {
    color: rgba(5, 6, 6, 0.93);
    text-decoration: none !important;
}

.directions__card__content:hover {
    background: #F76321;
}

.directions__card__content {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background: #ffffff;
    padding: 17px 0 17px 15px;
}

.directions__card__content h1 {
    font-size: 29px;
    line-height: 35px;
    font-weight: bold;
    font-style: normal;
}

.directions__card__content p {
    line-height: 13px;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
}

.directions__card__content:hover h1 {
    color: #ffffff;

}

.directions__card__content:hover p {
    color: #ffffff;
}

.directions__card__content .read-more-circle-around {
    border-radius: 50%;
    border: 2px solid #F76321;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #F76321;
}

.directions__card__content:hover .read-more-circle-around {
    color: #F76321;
    background: #ffffff;
}

.all-directions a {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    color: #000;
}

/* Part4 Talents */
.talents .container-fluid {
    padding: 70px;
    background-image: url('../../img/girl1.png');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: auto;
}

.talents h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.talents p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.talents span {
    color: #F76321;
}

/* Part4 Strengths */
.strengths {
    padding-bottom: 50px;
}
.strengths .container-fluid {
    padding: 100px 70px 70px;
    background-image: url('../../img/girl2.png');
    background-repeat: no-repeat;
    background-position: 3% bottom;
    background-size: auto;
}

.strengths h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.strengths p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.strengths span {
    color: #F76321;
}


.strengths a:hover {
    color: #FFFFFF;
}

/* Part5 Earn Money */
.earn_money {
    background: #F55C18;
    color: #ffffff;
}

.earn_money .container-fluid {
    padding: 100px 70px 100px 70px;
}

.earn_money h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.earn_money p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.earn_money span {
    color: #ffffff;
}

.earn_money img {
    width: 100%;
}

.earn_money a {
    background: #FFFFFF;
    color: #000000;
}

.earn_money a:hover {
    color: #220202;
    text-decoration: none;
    background-color: #fafafa;
}

.earn_money a:hover {
    color: #F76321;
}

.earn_money_img img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;

}

/* Part6 Authors */

.authors .container-fluid {
    padding: 100px 70px 100px 70px;
}
.authors h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.authors p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.authors span {
    color: #F76321;
}

.authors a:hover {
    color: #FFFFFF;
}

.authors .card {
    border-radius: 5px;
}

.authors .card-body {
    padding: 0;
    width: 269px;
    margin: auto;
    height: 323px;
    position: relative;
}

.authors .owl-dots {
    display: none;
}

.authors .card p {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.authors .all-authors {
    text-align: right;
}

.authors .all-authors a {
    color: #F76321;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-style: normal;
    padding: 0;
}

.authors .all-authors a:hover {
    color: #F76321;
}

.authors .author-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F76321;
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .7s, visibility .5s;
}

.authors .author-info {
    border-radius: 5px;
    padding: 60px 15px 30px 15px;
    width: 100%;
    height: 100%;
}

.authors .card:hover .author-info {
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 100%;

}

.authors .author-info .name {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
}

.authors .author-info .description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    padding-top: 10px;
}

.authors .author-info span {
    margin-right: 9px;
    color: #ffffff;
}

.authors .authors_img {
    height: 100%;
    width: 100%;
}

.authors img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.its_simple {
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden*/
}

.its_simple img {
    /*flex-shrink: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/

    /*object-fit: cover;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Part7 Subscribe */
.subscribe .container-fluid {
    padding: 100px 70px 70px;
}
.subscribe h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.subscribe p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.subscribe span {
    color: #F76321;
}

.subscription_form a {
    /*padding: 1.25rem 3.2rem 1.25rem 3.2rem;*/
}

.subscription_form a:hover {
    color: #FFFFFF;
}

.subscription_form .email_text {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #000000;
    border: 1px solid #DEDEDE;
    border-radius: 0;
    padding: 20px;
}

.subscription_form .email_text:focus {
    box-shadow: 0 0 0 0.2rem rgb(37 28 30 / 25%)
}

.subscription_form .email_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DEDEDE;
    opacity: 1; /* Firefox */
}

/* FOOTER */

.page-footer {
    background: #F76321;
}

.page-footer .container-fluid {
    padding: 30px 70px 20px 70px;
}


.page-footer h2 {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 15px;
}

.page-footer h1 {
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 30px;
}

.footer-copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.page-footer a {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 35px;
}

.footer__mobile {
    width: auto;
}

.footer__apps img {
    width: 70px;
    height: 70px;
}

.footer__bottom {
    font-size: 12px;
}

.open__button {
    background-color: #00656D;
    color: #F8A555;
    padding: 16px 20px;
    border: 2px solid #F8A555;
    cursor: pointer;
    opacity: 0.9;
    position: fixed;
    bottom: 50px;
    right: 28px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: none;
    z-index: 9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open__button:hover {
    color: #F8A555;
}

.open__button i {
    font-size: 1.5rem;
}

.canvas-slider {
    width: 1110px;
    height: 560px;
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .about__image {
        margin-top: 50px;
    }

    .directions__inner {
        top: 0px;
    }


    /*.header {*/
    /*    height: 100vh;*/
    /*}*/
    /*.header__inner {*/
    /*    height: auto;*/
    /*}*/
    /*.header__inner__bottom {*/
    /*    position: relative;*/
    /*}*/
    /*.header__nav {*/
    /*    text-align: right;*/
    /*    position: absolute;*/
    /*    right: 0;*/
    /*    bottom: -50px;*/
    /*    width: max-content;*/
    /*}*/
    .main__inner {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .main__inner h1 {
        font-size: 25px;
        line-height: 38px;
    }

    .footer__image__logo {
        margin: 0px 20px 50px 30px;
    }

    .footer__contacts {
        text-align: center;
        font-size: 25px;

    }

    .footer__directions {
        margin-top: 30px;
    }

    .footer__for_authors {
        margin-top: 40px;
    }

    .footer__contacts {
        margin-top: 40px;
    }

    .open__button {
        display: none;
    }
}

@media (max-width: 767px) {
    .calendar__general {
        margin-bottom: 40px;

    }

    /*.recommendations .container{*/
    /*    display: block;*/
    /*}*/

}

.quote {
    margin: 60px 30px;
    display: flex;
    align-items: center;
    border: 1px solid #F8A555;
    border-radius: 20px;
}

.quote > .quote-sign {
    border-radius: 20px;
    text-align: center;
    font-size: 60px;
    padding: 60px 30px;
    color: #F8A555;

    background-color: #00656D;
}

.quote > .quote-text {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
}

.overlay-text {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    /*background: rgba(248, 165, 85, 0.2);*/
    border-radius: 20px;
    height: 100%;
}
