/* HEADER */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #F76321;
    color: #ffffff;

}
.header_logo h1{
    font-size: 25px;
    /*line-height: 28px;*/
    color: #FFFFFF;
    font-weight: normal;
    /*padding-bottom: 30px;*/
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar {
    padding: 0;
}
.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link {
    font-weight: 500;
    transition: all 200ms linear;
    color: #ffffff;
}
/*.nav-link a{*/
/*    color: #ffffff;*/

/*}*/
.nav-item:hover .nav-link {
    color: #ffffff !important;
}
.nav-item.active .nav-link {
    color: #ffffff;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #ffffff;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after {
    opacity: 0;
}
.nav-item {
    position: relative;
    transition: all 200ms linear;
}
.nav-item .dropdown-menu{
    min-width: 1rem;
}
/*Part1*/
.start_course{
    width: 100%;
    height:70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../img/index_img.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size:cover;
    display: flex;
    align-items: center;
}
.start_course h1{
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    font-weight:bold;
    /*padding-bottom: 30px;*/
}
.start_course h3{
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    font-weight:normal;
    /*padding-bottom: 30px;*/
}
.start_course a{
    padding: 1.25rem 3.2rem 1.25rem 3.2rem;
}
.start_course a:hover{
    color: #FFFFFF;
}
/* Part2 */
.recommendations .container{
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
}
.recommendations h5{
    font-size: 17px;
}
.recommendations p{
    font-size: 11px;
}
/* Part3 Directions */
/*.directions{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
.directions h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.directions h3{
    font-size: 19px;
    line-height: 23px;
    font-weight:normal;
    /*padding-bottom: 30px;*/
}

.directions__content {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.directions__card {
    display: flex;
    /*!*flex-direction: column;*!*/
    /*!*align-items: center;*!*/
    /*border: 1px solid #DEDEDE;*/
    /*border-radius: 5px;*/
    /*background:#ffffff;*/
}
.directions__card__content:hover  {
    background:#F76321 ;
}
.directions__card__content{
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background:#ffffff;
}
.directions__card__content h1{
    font-size: 29px;
    line-height: 35px;
    font-weight:bold;
}
.directions__card__content  p{
    line-height: 13px;
    font-size: 11px;
}

.directions__card__content:hover h1{

    color: #ffffff;
}
.directions__card__content:hover  p{
    color: #ffffff;
}

.directions__card__content .read-more-circle-around {
    margin-left: 5px;
    border-radius: 50%;
    border: 2px solid #F76321;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #F76321;
}

.directions__card__content:hover  .read-more-circle-around  {
    color: #F76321;
    background: #ffffff;
}
.all-directions{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.all-directions-text{
    align-items: center;
    justify-content: center;
}
.all-directions a{
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #000;

}
.dots{
    color: #F76321;
}

/* Part4 Talents */
.talents h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.talents p{
    font-size: 20px;
    line-height: 24px;
    font-weight:normal;
}
.talents span{
    color: #F76321;
}
.talents a{
    padding: 1.25rem 3.2rem 1.25rem 3.2rem;
}
.talents a:hover{
    color: #FFFFFF;
}
/* Part4 Strengths */
.strengths h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.strengths p{
    font-size: 20px;
    line-height: 24px;
    font-weight:normal;
}
.strengths span{
    color: #F76321;
}
.strengths a{
    padding: 1.25rem 3.2rem 1.25rem 3.2rem;
}
.strengths a:hover{
    color: #FFFFFF;
}
.girl_img{
    background-image:url('../../img/girl2.png') ;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size:cover;

}
/* Part5 Earn Money */
.earn_money{
    /*background: #F76321;*/
    background: #F55C18;
    color: #ffffff;
}

.earn_money h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.earn_money p{
    font-size: 20px;
    line-height: 24px;
    font-weight:normal;
}
.earn_money span{
    color: #ffffff;
}
.earn_money a{
    padding: 1.25rem 3.2rem 1.25rem 3.2rem;
    background: #FFFFFF;
    color: #F76321;

}
.earn_money a:hover{
    color: #F76321;
}
.earn_money_img{
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    /*object-fit: cover;*/
}
.earn_money_img img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;

}

/* Part6 Authors */
.authors h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.authors p{
    font-size: 20px;
    line-height: 24px;
    font-weight:normal;
}
.authors span{
    color: #F76321;
}
.authors a{
    padding: 1.25rem 3.2rem 1.25rem 3.2rem;
}
.authors a:hover{
    color: #FFFFFF;
}

.authors_info h1{
    font-size: 18px;
    line-height: 22px;
    font-weight:normal;
}
.authors_info h2{
    font-size: 14px;
    line-height: 17px;
    font-weight:normal;
    color: #F76321;
}
.authors_info img {
    width: 150px;
    height: 200px;
}
.authors_info:hover .authors_img {
    background-color: black;
}
.authors_info:hover img {
    opacity: 0.9;
}
.its_simple {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.its_simple img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
/* Part7 Subscribe */
.subscribe h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}
.subscribe p{
    font-size: 20px;
    line-height: 24px;
    font-weight:normal;
}
.subscribe span{
    color: #F76321;
}
.subscription_form a{
    /*padding: 1.25rem 3.2rem 1.25rem 3.2rem;*/
}
.subscription_form a:hover{
    color: #FFFFFF;
}
.subscription_form .email_text{
    font-size: 20px;
    line-height: 24px;
    font-weight:normal;
    color:#DEDEDE;
    border: 1px solid #DEDEDE;
    border-radius: 0;
}
.subscription_form .email_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#DEDEDE;
    opacity: 1; /* Firefox */
}

    /* FOOTER */

.footer {
    background: #F76321;
}

.footer__inner {
    padding: 50px 0;
}

.footer__image__logo {
    width: 100px;
    margin: 0 20px 50px 0;
    height: auto;
}

.footer__inner h2 {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 30px;
}
.footer__inner h1 {
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 30px;
}

.footer__inner p {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__nav a {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 35px;
}

.footer__mobile {
    width: auto;
}

.footer__apps img {
    width: 70px;
    height: 70px;
}

.footer__bottom {
    font-size: 12px;
}

.open__button {
    background-color: #00656D;
    color: #F8A555;
    padding: 16px 20px;
    border: 2px solid #F8A555;
    cursor: pointer;
    opacity: 0.9;
    position: fixed;
    bottom: 50px;
    right: 28px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: none;
    z-index: 9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open__button:hover {
    color: #F8A555;
}

.open__button i {
    font-size: 1.5rem;
}

.canvas-slider {
    width: 1110px;
    height: 560px;
}








@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .about__image {
        margin-top: 50px;
    }

    .directions__inner {
        top: 0px;
    }



    /*.header {*/
    /*    height: 100vh;*/
    /*}*/

    /*.header__inner {*/
    /*    height: auto;*/
    /*}*/

    /*.header__inner__bottom {*/
    /*    position: relative;*/
    /*}*/

    /*.header__nav {*/
    /*    text-align: right;*/
    /*    position: absolute;*/
    /*    right: 0;*/
    /*    bottom: -50px;*/
    /*    width: max-content;*/
    /*}*/


    .main__inner {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .main__inner h1 {
        font-size: 25px;
        line-height: 38px;
    }

    .footer__image__logo {
        margin: 0px 20px 50px 30px;
    }

    .footer__contacts {
        text-align: center;
        font-size: 25px;

    }

    .footer__directions {
        margin-top: 30px;
    }

    .footer__for_authors {
        margin-top: 40px;
    }
    .footer__contacts {
        margin-top: 40px;
    }

    .open__button {
        display: none;
    }
}

@media (max-width: 767px) {
    .calendar__general {
        margin-bottom: 40px;

    }

    /*.recommendations .container{*/
    /*    display: block;*/
    /*}*/

}

.quote {
    margin: 60px 30px;
    display: flex;
    align-items: center;
    border: 1px solid #F8A555;
    border-radius: 20px;
}

.quote > .quote-sign {
    border-radius: 20px;
    text-align: center;
    font-size: 60px;
    padding: 60px 30px;
    color: #F8A555;

    background-color: #00656D;
}

.quote > .quote-text {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
}

.overlay-text {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    /*background: rgba(248, 165, 85, 0.2);*/
    border-radius: 20px;
    height: 100%;
}
