@media (max-width: 1200px) and (min-width: 992px) {
    .start_course h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .slider-body {
        /*padding-top: 10vh;*/
        padding-bottom: 10vh;
    }

    .start_course .owl-item {
        min-height: 40vh;
    }

    .recommendations {
        padding: 30px;
    }

    .directions__card__content h1 {
        font-size: 23px;
        line-height: 24px;
    }

    .directions .container-fluid {
        padding: 80px 45px 45px;
    }

    .talents .container-fluid {
        padding: 20px 45px 45px;
        background-position: 90% 30%;
        background-size: 40%;
    }

    .strengths .container-fluid {
        background-position: left 40%;
        padding: 20px 45px 45px;
        background-size: auto 70%;
    }

    .earn_money .container-fluid {
        padding: 50px 45px 60px 45px;
    }

    .earn_money h1 {
        font-size: 39px;
        line-height: 42px;
    }

    .earn_money p {
        font-size: 18px;
        line-height: 22px;
    }

    .authors .container-fluid {
        padding: 50px 45px 60px 45px;
    }

    .authors h1 {
        font-size: 39px;
        line-height: 42px;
    }

    .authors p {
        font-size: 18px;
        line-height: 22px;
    }

    .subscribe .container-fluid {
        padding: 50px 45px 60px 45px;
    }

    .subscribe h1 {
        font-size: 39px;
        line-height: 42px;
    }

    .subscribe p {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 992px) and (min-width: 767px) {
    .start_course h1 {
        font-size: 33px;
        line-height: 37px;
    }

    .slider-body {
        /*padding-top: 8vh;*/
        padding-bottom: 8vh;
    }

    .start_course .owl-item {
        min-height: 40vh;
    }

    .directions .container-fluid {
        padding: 80px 35px 35px;
    }

    .directions h1 {
        font-size: 33px;
        line-height: 36px;
    }

    .directions h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .directions__card__content h1 {
        font-size: 16px;
        line-height: 20px;
    }

    .talents .container-fluid {
        padding: 40px 35px 35px;
        background-position: 90% center;
        background-size: 40%;
    }

    .talents h1 {
        font-size: 33px;
        line-height: 36px;
    }

    .talents p {
        font-size: 16px;
        line-height: 20px;
    }

    .strengths .container-fluid {
        background-position: left 50%;
        padding: 40px 35px 35px;
        background-size: auto 55%;
    }
    .strengths h1 {
        font-size: 33px;
        line-height: 36px;
    }

    .strengths p {
        font-size: 16px;
        line-height: 20px;
    }

    .earn_money .container-fluid {
        padding: 40px 35px 35px;
    }

    .earn_money h1 {
        font-size: 33px;
        line-height: 36px;
    }

    .earn_money p {
        font-size: 16px;
        line-height: 20px;
    }

    .earn_money img {
        margin-top: 60px;
    }

    .authors .container-fluid {
        padding: 40px 35px 35px;
    }

    .authors h1 {
        font-size: 33px;
        line-height: 36px;
    }

    .authors p {
        font-size: 16px;
        line-height: 20px;
    }

    .authors .still-thinking-text {
        font-size: 20px;
        line-height: 24px;
    }

    .authors-carousel {
        padding-top: 10px !important;
        padding-bottom: 30px !important;
    }

    .subscribe .container-fluid {
        padding: 40px 35px 35px;
    }

    .subscribe h1 {
        font-size: 33px;
        line-height: 36px;
    }

    .subscribe p {
        font-size: 16px;
        line-height: 20px;
    }

    .subscription_form .email_text {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .start_course h1 {
        font-size: 35px;
        line-height: 40px;
        font-weight: bold;
        margin-top: 80px;
    }

    .start_course h3 {
        font-size: 17px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 20px;
    }

    .slider-body {
        /*padding-top: 5vh;*/
        padding-bottom: 5vh;
    }

    .start_course a {
        padding: 0.6rem 1.5rem 0.6em 1.5rem;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }

    .start_course .owl-item {
        height: 82vh;
    }

    .recommendations h5 {
        font-size: 19px;
        line-height: 23px;

    }

    .recommendations p {
        font-size: 12px;
        line-height: 14px;
    }

    .directions .container-fluid {
        padding: 80px 10px 60px 10px;
    }

    .directions__card__content {
        padding: 12px 0 12px 5px;
    }

    .directions h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .directions h3 {
        font-size: 16px;
        line-height: 19px;
    }

    .directions__card__content h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .directions__card__content p {
        line-height: 12px;
        font-size: 10px;
    }

    .directions__card__content .read-more-circle-around {
        width: 28px;
        height: 28px;
    }

    .all-directions a {
        font-size: 14px;
        line-height: 17px;
    }

    /*Part 4*/
    .talents .container-fluid {
        background-position: 30% 30%;
        padding: 80px 10px 60px 10px;
        background-size: 70%;
    }

    .talents h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .talents p {
        font-size: 14px;
        line-height: 18px;
    }

    .talents .description-text {
        margin-top: 200px;
    }

    .strengths .container-fluid {
        background-position: center 30%;
        padding: 10px 10px 60px 10px;
        background-size: auto 42%;
    }
    .strengths h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .strengths p {
        font-size: 14px;
        line-height: 17px;
    }

    .strengths .description-text {
        margin-top: 250px;
    }

    .earn_money .container-fluid {
        padding: 70px 10px 60px 10px;
    }

    .earn_money h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .earn_money p {
        font-size: 14px;
        line-height: 17px;
    }

    .earn_money img {
        margin-top: 60px;
    }

    .authors .container-fluid {
        padding: 70px 10px 60px 10px;
    }

    .authors h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .authors p {
        font-size: 14px;
        line-height: 17px;
    }

    .authors .still-thinking-text {
        font-size: 18px;
        line-height: 22px;
    }

    .authors-carousel {
        padding-top: 10px !important;
        padding-bottom: 30px !important;
    }

    .subscribe .container-fluid {
        padding: 40px 10px 60px 10px;
    }

    .subscribe h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .subscribe p {
        font-size: 14px;
        line-height: 17px;
    }

    .subscription_form .email_text {
        margin-top: 40px;
    }

}




