@media (max-width: 1200px) and (min-width: 992px) {
    .start_course h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .slider-body {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .start_course .owl-item {
        min-height: 40vh;
    }

    .directions__card__content h1 {
        font-size: 23px;
        line-height: 24px;
    }
}
@media (max-width: 992px) and (min-width: 767px) {
    .start_course h1 {
        font-size: 33px;
        line-height: 45px;
    }

    .slider-body {
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    .start_course .owl-item {
        min-height: 40vh;
    }

    .directions__card__content h1 {
        font-size: 21px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    .start_course h1 {
        font-size: 35px;
        line-height: 40px;
        font-weight: bold;
        margin-top: 80px;
    }

    .start_course h3 {
        font-size: 17px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 20px;
    }

    .slider-body {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .start_course a {
        padding: 0.6rem 1.5rem 0.6em 1.5rem;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }

    .start_course .owl-item {
        height: 82vh;
    }

    .recommendations h5 {
        font-size: 19px;
        line-height: 23px;

    }

    .recommendations p {
        font-size: 12px;
        line-height: 14px;
    }

    .directions .container-fluid {
        padding: 80px 10px 60px 10px;
    }

    .directions__card__content {
        padding: 12px 0 12px 5px;
    }

    .directions h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .directions h3 {
        font-size: 16px;
        line-height: 19px;
    }

    .directions__card__content h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .directions__card__content p {
        line-height: 12px;
        font-size: 10px;
    }

    .directions__card__content .read-more-circle-around {
        width: 28px;
        height: 28px;
    }

    .all-directions a {
        font-size: 14px;
        line-height: 17px;
    }

    /*Part 4*/
    .talents .container-fluid {
        background-position: 0 25%;
        padding: 80px 10px 60px 10px;
    }

    .talents h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .talents p {
        font-size: 14px;
        line-height: 18px;
    }

    .talents .description-text {
        margin-top: 200px;
    }

    .talents a {
        padding: 0.9rem 2.5rem 0.9rem 2.5rem;
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
}




