.course-header p{
    font-size: 12px;
    line-height: 14px;
}
.course-header h1{
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
}
.course-header h2{
    font-size: 16px;
    font-weight: normal;
}

.course-header h3{
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    cursor: pointer;
}
.course__content{
    height: 500px;
}
.lesson_video{
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 5px;
}
.lessons_content h1{
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
}

.lesson__card__content{
    display: flex;
    /*border: 1px solid #DEDEDE;*/
    border-radius: 5px;
    background:#F76321 ;
    cursor: pointer;
}
.lesson__card__content h1{
    font-size: 18px;
    line-height: 22px;
    font-weight: bolder;
    color:#FFFFFF;
}
.lesson__card__content  p{
    font-size: 16px;
    line-height: 19px;
    color:#e6e6e6;
}
.lesson__card__content .read-more-circle-around {
    margin-left: 5px;
    border-radius: 50%;
    border: 2px solid #F76321;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F76321;
    background:  #ffffff;
}



.lesson__card__content_locked{
    display: flex;
    border-radius: 5px;
    background:#F2F2F2 ;
    cursor: pointer;
}
.lesson__card__content_locked h1{
    font-size: 18px;
    line-height: 22px;
    font-weight: bolder;
}
.lesson__card__content_locked h2{
    font-size: 13px;
    line-height: 16px;
    color:#666666
}
.lesson__card__content_locked  p{
    font-size: 16px;
    line-height: 19px;
    color:#666666;
}
.lesson__card__content_locked .read-more-circle-around {
    margin-left: 5px;
    /*border-radius: 50%;*/
    /*border: 2px solid #F76321;*/
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:#666666;
    /*background:  #ffffff;*/
}

.lesson_info{
    padding-left: 0 !important;
}
.lesson_info h1{
    font-size: 30px;
    line-height: 36px;
}
.lesson_info h2{
    font-size: 20px;
    line-height: 24px;
    color:#666666;
}
.lesson_info p{
    font-size: 16px;
    line-height: 19px;
}
.lesson_materials{
    padding-left: 0 !important;
}
.lesson_materials h1{
    font-size: 18px;
    line-height: 22px;
}
.material{
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: #050606;
}
.material:hover{
    color: #050606;
}



