.subscribe .container-fluid {
    padding: 50px 70px 70px;
}
.subscribe h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    font-style: normal;
}

.subscribe p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
}

.subscribe span {
    color: #F76321;
}

.subscription_form a {
    /*padding: 1.25rem 3.2rem 1.25rem 3.2rem;*/
}

.subscription_form a:hover {
    color: #FFFFFF;
}

.subscription_form .email_text {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #000000;
    border: 1px solid #DEDEDE;
    border-radius: 0;
    padding: 20px;
}

.subscription_form .email_text:focus {
    box-shadow: 0 0 0 0.2rem rgb(37 28 30 / 25%)
}

.subscription_form .email_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DEDEDE;
    opacity: 1; /* Firefox */
}

.page-footer {
    background: #F76321;
}

.page-footer .container-fluid {
    padding: 30px 70px 20px 70px;
}

.page-footer h2 {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 15px;
}

.page-footer h1 {
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 30px;
}

.footer-copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.page-footer a {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 35px;
}

.footer__mobile {
    width: auto;
}

.footer__apps img {
    width: 70px;
    height: 70px;
}

.footer__bottom {
    font-size: 12px;
}
