@import url("components/index.css");
@import url("components/courses.css");
@import url("components/course.css");
@import url("components/my-course.css");
@import url("components/profile.css");



@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

* {
    font-family: 'Gilroy', sans-serif;
}

table, td, tr {
    font-family: 'Gilroy', sans-serif !important;
}

li {
    list-style-type: none;
}

.fa {
    font-family: Times sans-serif;
}

.cursor {
    cursor: pointer;
}

.bs-4 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-sj-gray {
    background: #F2F4F8;
}

.text-gold {
    color: #F8A555;
}

.min__content {
    min-height: 60vh;
}

.btn-login {
    background: #F8A555;
    border-radius: 3px;
    padding: 5px 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-orange {
    background: #F76321;
    /*padding: 5px 20px !important;*/
    /*display: block;*/
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    color: #fffff5;
    border:none !important;
    outline:none;

}
.btn-orange:hover {
    color: #fffff5;
    border:none !important;
}
.btn-orange:focus {
    border:none !important;
    outline:none;

}


.content {
    min-height: 80vh;
}
